/* --------------------------------- global styles */
/* --------------------------------- global styles */
/* --------------------------------- global styles */

body {
  color: #333;
  margin: 2em 0;
  font-family: 'Oswald', sans-serif;
}
#loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  width: 92%;
  max-width: 900px;
  transition: all 0.25s;
  z-index: 1;
}
.centered {
  float: none;
  margin: 0 auto;
}

/* --------------------------------- index styles */
/* --------------------------------- index styles */
/* --------------------------------- index styles */

.shrimpy {
  width: 100%;
  cursor: pointer;
  margin-bottom: 2em;
}
.curtain {
  position: fixed;
  top: 0;
  height: 100%;
  transition: all 0.5s;
}
.curtain-l {
  left: 0;
}
.curtain-r {
  right: 0;
}
.line {
  width: 100%;
}
.event {
  display: inline-block;
  width: 32%;
  height: 0;
  padding-bottom: 32%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.event-content-hover-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.25s;
}
.event:hover .event-content-hover-overlay {
  opacity: 1;
}
.hover-details {
  text-align: center;
  color: white;
  list-style: none;
  padding: 5px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}
#overlay-content {
  color: white;
  font-size: 2em;
  width: 96%;
  max-width: 700px;
  margin: 2em auto;
}
#overlay-content .event-image {
  width: 100%;
  margin-bottom: 1em;
}
#overlay-content ul {
  list-style: none;
  padding: 0;
}
.close-overlay,
.close-edit-form {
  width: 25px;
  cursor: pointer;
  margin-bottom: 1em;
}
/* --------------------------------- login styles */
/* --------------------------------- login styles */
/* --------------------------------- login styles */

.login-wrapper {
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.login-wrapper input {
  display: block;
  margin: 1em auto;
  width: 90%;
  max-width: 400px;
  border: none;
  border-bottom: solid 1px #333;
  font-size: 1em;
}
.login-wrapper input:focus {
  outline: none;
}
.login-wrapper input::-webkit-input-placeholder {
  color: #c2c2c2;
}
.login-wrapper input[type=submit] {
  width: auto;
  font-size: 1em;
  border: solid 1px #333;
  background-color: white;
}

/* --------------------------------- admin styles */
/* --------------------------------- admin styles */
/* --------------------------------- admin styles */

.actions a {
  display: block;
}
#new-event,
#edit-event {
  margin: 1em 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1em;
}
#new-event input,
#edit-event input {
  display: block;
  margin: 1em 0;
  width: 100%;
  border: none;
  border-bottom: solid 1px #333;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0);
}
#new-event textarea,
#edit-event textarea {
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 1em;
  border: solid 1px #555;
}
#new-event input:focus,
#new-event select:focus,
#new-event textarea:focus,
#edit-event input:focus,
#edit-event select:focus,
#edit-event textarea:focus {
  outline: none;
}
#new-event input::-webkit-input-placeholder,
#new-event textarea::-webkit-input-placeholder,
#edit-event input::-webkit-input-placeholder,
#edit-event textarea::-webkit-input-placeholder {
  color: #a2a2a2;
}
#new-event input[type=submit],
#edit-event input[type=submit] {
  width: auto;
  font-size: 1em;
  border: solid 1px #333;
  background-color: white;
  cursor: pointer;
}
#new-event label#file-button-label,
#edit-event label#edit-file-button-label {
  display: inline-block;
  width: auto;
  margin: 1em 0;
  border: solid 1px #333;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}
#new-event select,
#edit-event select {
  display: block;
  font-size: 1em;
  border: solid 1px #333;
}
#new-event input[type="time"]:not(.has-value):before,
#new-event input[type="date"]:not(.has-value):before,
#edit-event input[type="time"]:not(.has-value):before,
#edit-event input[type="date"]:not(.has-value):before {
  color: #a2a2a2;
  content: attr(placeholder);
}
#cancel-upload {
  cursor: pointer;
  color: #ec3e41;
}
.green {
  color: green;
}
.thumbnail {
  height: 2em;
  vertical-align: middle;
  margin-top: -4px;
}
#admin-events-list {
  list-style: none;
  padding: 0;
}
#admin-events-list li {
  padding: 5px;
}
#admin-events-list li:nth-child(odd) {
  background-color: #333;
  color: white;
}
.delete-event,
.edit-event {
  color: red;
  margin-right: 5px;
  cursor: pointer;
}
.edit-event img {
  height: 1em;
}
#edit-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}
#edit-modal-content {
  width: 96%;
  max-width: 700px;
  margin: 2em auto;
}

/* --------------------------------- media queries */
/* --------------------------------- media queries */
/* --------------------------------- media queries */

@media (max-width: 900px) {
  .event {
    width: 49%;
    padding-bottom: 49%;
  }
}
@media (max-width: 575px) {
  .event {
    width: 100%;
    padding-bottom: 100%;
  }
}

/* --------------------------------- animations */
/* --------------------------------- animations */
/* --------------------------------- animations */

.shrimpy-disco {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: black;
  background-image: url(../assets/stars.gif);
  background-repeat: none;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  animation: disco 2s infinite ease-in-out;
}

.black {
  background-color: black;
}

@keyframes disco {
  0% { opacity: 0; }
  10% { opacity: 0.5; }
  25% { opacity: 0.1; }
  33% { opacity: 1; }
  50% { opacity: 0.2; }
  69% { opacity: 0.7; }
  75% { opacity: 0; }
  80% { opacity: 1; }
  90% { opacity: 0.1; }
  95% { opacity: 0.8; }
  100% { opacity: 0; }
}
